body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#cccccc;
    border-color:black;
    border-width:medium
}

.main {
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    width:550px;
    height:400px;
}

h1 {
    color:black;
}

button {
    border-radius: 15px;
    border-width:thin;
    width:36px;
    margin-left:5px;
    margin-right:5px;
    margin-top:3px;
    margin-bottom:3px;
}

button.number {
    color:#ffffff;
    background-color:#c20202;
      border-color:#c20202;
}

button.op {
    color:#ffffff;
    background-color:#444444;
    border-color:#c20202;
}

span.display {
    border-radius: 8px;
    background-color:#c20202;
    color:#ffffff;
    font-weight:bold;
    width:100%;
    text-align:right;
    padding-left:10px;
    padding-right:10px;
}

table.calc {
    border:0;
    margin-left:auto;
    margin-right:auto
}

tr.calc {
    background-color:#c20202;
    text-align:right
}

img.logo {
    float:left;
    margin-left:20px;
    margin-top:22px;
    margin-bottom:60px;
    height:35px
}